<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <!-- Meta Description -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Nguyễn Hoàng Thắng">
    <title>Hình ảnh</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- owl-carousel -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css">
    <!-- main css- do not delete -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- Header / start -->
    <header class="main-header">
        <!-- header-upper / end -->
        <div class="header-lower">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1 id="b" class="navbar-brand" href="#">
                            <a href="index.html">NHÀ NGHỈ
                                <span>THÁI BÌNH</span>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="auto-clear-fix row">
                    <nav class="main-menu">
                        <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation" aria-expanded="false">
                            <ul class="navigation-menu nav navbar-nav">
                                <li>
                                    <a href="index.html">Trang chủ </a>
                                </li>
                                <li class="dropdown child-menu">
                                    <a href="#">Phòng nhà nghỉ
                                        <i class="click-show fa fa-plus hidden-lg hidden-sm hidden-md"></i>
                                    </a>
                                    <ul class="content-menu">
                                        <li>
                                            <a href="index.html#goto">Phòng đơn</a>
                                        </li>
                                        <li>
                                            <a href="index.html#gotoo">Phòng đôi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="hinh-anh.html">Hình ảnh</a>
                                </li>
                                <li>
                                    <a href="chi-tiet-dich-vu.html">Dịch vụ</a>
                                </li>
                                <li class="phone">
                                    <a href="tel:0989931133" title="Gọi 098183131">
                                        <span style="color: red">
                                            <i class="fa fa-phone pulse-button" aria-hidden="true"></i>
                                        </span>
                                        <font color="black">0989831331</font>
                                    </a>
                                    <a href="tel:0989931133" title="Gọi 098183131">
                                        <span style="color: red">
                                            <i class="fa fa-phone pulse-button" aria-hidden="true"></i>
                                        </span>
                                        <font color="black">0983813718</font>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- main-menu / end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header / end -->
    <section class="img-hotel">
        <section id="img-hotel">
            <div class="container ">
                <div class="row ">
                    <div class="title-section">
                        <h2 class="my-title">
                            HÌNH ẢNH NHÀ NGHỈ
                        </h2>
                    </div>
                    <p>Giới thiệu về nhà nghỉ Thái Bình</p>
                    <!-- title-section / end -->
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated zoomIn " data-wow-delay="0.3s ">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/hotel/hotel1.jpg " class="img-responsive" alt="hình ảnh nhà nghỉ thái bình đảo phú quý" />
                            </div>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated zoomIn " data-wow-delay="0.3s ">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/hotel/hotel2.jpg " class="img-responsive myImg" alt="hình ảnh nhà nghỉ thái bình đảo phú quý" />
                            </div>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated zoomIn " data-wow-delay="0.3s">
                        <span class="thumbnail">
                            <div class="img">
                                <img src="img/hotel/hotel3.jpg" class="img-responsive myImg" alt="hình ảnh nhà nghỉ thái bình đảo phú quý" />
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated zoomIn" data-wow-delay="0.3s">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/hotel/hotel4.jpg " class="img-responsive myImg" alt="hình ảnh nhà nghỉ thái bình đảo phú quý" />
                            </div>
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated zoomIn " data-wow-delay="0.3s ">
                        <span class="thumbnail">
                            <div class="img">
                                <img src="img/hotel/hotel5.jpg" class="img-responsive myImg" alt="nhà nghỉ nam an" />
                            </div>
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated zoomIn" data-wow-delay="0.3s">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/hotel/hotel6.jpg " class="img-responsive myImg" alt="hình ảnh nhà nghỉ thái bình đảo phú quý" />
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <section class="testi-sec ">
            <div class="overlay "></div>
        </section>
        <!-- end hình ảnh nhà nghỉ section -->
        <section class="island-phuquy">
            <div class="container ">
                <div class="row ">
                    <div class="title-section">
                        <h2 class="my-title">
                            HÌNH ẢNH ĐẢO PHÚ QUÝ
                        </h2>
                    </div>
                    <p>Giới thiệu về đảo Phú Quý</p>
                    <!-- title-section / end -->
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated fadeInDown">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/dao/dao1.jpg " class="img-responsive myImg" alt="hình ảnh đảo phú quý" />
                            </div>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated fadeInDown ">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/dao/dao2.jpg " class="img-responsive myImg" alt="hình ảnh đảo phú quý" />
                            </div>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated fadeInDown">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/dao/dao3.jpg " class="img-responsive myImg " alt="hình ảnh đảo phú quý" />
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated fadeInDown ">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/dao/dao4.jpg " class="img-responsive myImg" alt="hình ảnh đảo phú quý" />
                            </div>
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated fadeInDown ">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/dao/dao5.jpg " class="img-responsive myImg" alt="hình ảnh đảo phú quý" />
                            </div>
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 wow animated fadeInDown ">
                        <span class="thumbnail ">
                            <div class="img ">
                                <img src="img/dao/dao6.jpg " class="img-responsive myImg" alt="hình ảnh đảo phú quý" />
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer / start -->
        <footer>
            <div class="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="title-section">
                            <h2 class="my-title">
                                NHÀ NGHỈ
                                <span> THÁI BÌNH</span>
                            </h2>
                        </div>
                        <!-- title-section / end -->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="footer-col">
                                <h4 class="my-title">
                                    Địa chỉ
                                </h4>
                                <div class="footer-contact">
                                    <div class="foo">
                                        <span class="foo-title">Địa chỉ: </span>
                                        <span>
                                            03 Hồ Xuân Hương, Ngũ Phụng, Phú Quý, Bình Thuận, Việt Nam
                                        </span>
                                    </div>
                                    <div class="foo">
                                        <span class="foo-title">Điện thoại: </span>
                                        <span>
                                            <a href="tel:0906351461">0906351461</a>
                                        </span>
                                    </div>
                                    <div class="foo">
                                        <span class="foo-title">Email: </span>
                                        <a href="nguyenhoangthang633@gmail.com">
                                            <span>Nguyenhoangthang633@gmail.com</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col / end -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-col">
                                <h4 class="my-title">
                                    Giới thiệu nhà nghỉ
                                </h4>
                                <!-- title-section / end -->
                                <div class="content-intro">
                                    <p>"Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt
                                        Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quis Nostrud Exercitation
                                        Ullamco Laboris Nisi Ut Aliquip Ex Ea Commodo Consequat. Duis Aute Irure Dolor In
                                        Reprehenderit In Voluptate Velit Esse Cillum Dolore Eu Fugiat Nulla Pariatur. Excepteur
                                        Sint Occaecat Cupidatat Non Proident, Sunt In Culpa Qui Officia Deserunt Mollit Anim
                                        Id Est Laborum."</p>
                                </div>
                            </div>
                        </div>
                        <!-- col / end -->
                    </div>
                </div>
        </footer>
        <!-- footer / end -->
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src=js/main.js></script>
</body>